.gantt-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 300px; /* Altura do gráfico, ajuste conforme necessário */
}

.gantt-cell {
  display: flex;
  flex-direction: column;
  margin-right: 20px; /* Espaçamento entre colunas, ajuste conforme necessário */
}

.process {
  width: 50px;
  height: 50px;
  border: 2px solid #000;
  margin: 5px 0; /* Espaçamento vertical entre processos */
  transition: top 0.3s; /* Adicione uma transição suave para animações */
}
