.gantt-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 600px;
  align-items: center;
}

.gantt-scrollable {
  overflow: auto;
  display: flex;
  max-height: 600px;
  max-width: 100%;
}

.gantt-content {
  display: flex;
}

.gantt-cell {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.process {
  width: 50px;
  height: 50px;
  border: 2px solid #000;
  margin: 5px 0;
  transition: top 0.3s;
}

.process-numbers {
  display: flex;
  flex-direction: column;
}

.process-number {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 22px;
}

.time-number {
  text-align: center;
  margin-top: 5px;
}

.average-turnaround-number {
  margin-bottom: 10px;
}

.not_ready {
  background-color: purple;
}

.waiting {
  background-color: yellow;
}

.running {
  background-color: green;
}

.finished {
  background-color: gray;
}

.overhead {
  background-color: red;
}

.over_time {
  background-color: orange;
}
