.scaling-system {
  padding-left: 20px;
}

select {
  width: 100%;
  padding: 13px 30px 13px 22px;
  border-radius: 5px;
  border: 1px solid #dde3ec;
  background: #eee;
  font-weight: 500;
  font-size: 16px;
  color: #536387;
  outline: none;
  resize: none;
  cursor: pointer;
}

select:focus {
  border-color: #90e0ef;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.scaling-system-label {
  color: #07074d;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  display: block;
  margin-bottom: 10px;
}


